<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="../main.css" rel="stylesheet" type="text/css" />
    <title>!POST_TITLE!</title>
  </head>

  <body>
    !INCLUDE_1!
    <div id="wrapper">
      <div id="entropymain">
        <table>
          <tr><td><h1>!BLOG_TITLE!</h1></td><td>!BLOG_DESC!</td></tr>
        </table>
        !POSTS!
        !NAV_LINKS!
      </div>
    </div> 
  </body>
</html>
